services:
  - type: web
    name: my-portfolio
    runtime: dotnet
    runtimeVersion: 8.0
    buildCommand: bash build.sh
    startCommand: bash start.sh
    envVars:
      - key: ASPNETCORE_ENVIRONMENT
        value: Production
      - key: ASPNETCORE_URLS
        value: http://0.0.0.0:${PORT}
